
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
local/
build/
profiles/
native/
.creator/

#//////////////////////////
# NPM & Logs
#//////////////////////////
node_modules/
*.log

#//////////////////////////
# IDE & System
#//////////////////////////
.vscode/
.idea/
.DS_Store
Thumbs.db